<section id="shopify-section-{{ section.id}}" class="shopify-section featured-video">
  <div class="page-width">
    <div class="grid-cols-2">
      <div class="col-1 flex all-center">
        <div class="container flex all-center space-between">
          <img src="{{ 'logo.png' | asset_url }}" alt="Logo" class="featured-video-logo">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.description }}</p>
          <a href="{{ section.settings.button_url }}" class="btn btn-primary">{{ section.settings.button_text }}</a>
        </div>
      </div>
      <div class="col-2">
        <div class="video-container">
          <iframe
            width="100%"
            height="700px"
            src="https://www.youtube-nocookie.com/embed/-kgrc_EudVA?si=GNvIvjLkK3KZ8gzK&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            autoplay
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  #shopify-section-{{ section.id}} .grid-cols-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0;
  }

  #shopify-section-{{ section.id}} .col-1 {
    background: linear-gradient(to right, #3d86c9, #8cbae2, #3d86c9);
    background-size: cover;
    color: #fff

  }

  #shopify-section-{{ section.id}} .col-1 .container {
    flex-direction: column;
  }

  #shopify-section-{{ section.id}} iframe {
    border: none;
  }
{% endstyle %}

{% schema %}
{
  "name": "Featured Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Video"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Watch our latest video to see how our products are made and how they can help you."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "video_url",
      "id": "video_youtube",
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=-kgrc_EudVA",
      "info": "Enter the URL of the video you want to display",
      "accept": ["youtube"]
    },
    {
      "type": "video",
      "id": "video_url",
      "label": "Video URL",
      "info": "Enter the URL of the video you want to display"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Featured Video"
    }
  ]
}
{% endschema %}
