<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
{% comment %} {% include 'head-css' %} {% endcomment %}
<header>
  <div class="page-width">
    <div class="row">
      {% comment %} mobile menu {% endcomment %}
      <div class="mobile-menu-icon-section">
        {% render 'menu' %}
      </div>
      {% comment %} Column 1 {% endcomment %}
      <div class="shop-logo-section shop-name ">
        <a href="/">
          {% if section.settings.logo %}
            <img
              src="{{ section.settings.logo | image_url }}"
              width="{{ section.settings.logo_width }}"
              height="auto"
              alt="{{ shop.name }}"
            >
          {% else %}
            <h1>{{ shop.name | capitalize | replace: '-', ' ' }}</h1>
          {% endif %}
        </a>
      </div>
      {% comment %} Column 2 {% endcomment %}
      <div class="main-nav-menu-section">
        <nav class="main-nav-menu">
          <ul>
            {% for link in linklists['main-menu'].links %}
              <li>
                {% if link.title == 'Sale' %}
                  <a class="main-nav-menu-link-sale" href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                  <a style="font-family: ;" class="main-nav-menu-link" href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      {% comment %} Column 3 {% endcomment %}
      <div class="menu-icons-section">
        <a href="/search" class="search-icon">
          {% render 'search' %}
        </a>
        <a href="/account" class="user-icon">
          {% render 'user' %}
        </a>
        <a href="/wishlist" class="heart-icon">
          {% render 'heart' %}
        </a>
        <a href="/cart" class="cart-icon">
          {% render 'cart' %}
        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "Recommended size: 200x200px"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo Width",
      "default": 200,
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}

{% comment %}
  {% for link in linklists['main-menu'].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [
      {%- for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor -%}
      ]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}
{% endcomment %}

{% comment %}
  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
{% endcomment %}
