<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

<header>
  <div class="container">
    <div class="row">
      {% comment %} Column 1 {% endcomment %}
      <div class="shop-name shop-logo">
        {% if section.settings.logo %}
          <img
            src="{{ section.settings.logo | image_url }}"
            width="{{ section.settings.logo_width }}"
            height=""
            alt="{{ shop.name }}"
          >
        {% else %}
          <h1>{{ shop.name | capitalize | replace: '-', ' ' }}</h1>
        {% endif %}
      </div>
      {% comment %} Column 2 {% endcomment %}
      <div>
        <nav class="main-nav-menu">
          <ul>
            {% for link in linklists['main-menu'].links %}
              <li>
                {% if link.title == 'Sale' %}
                  <a class="main-nav-menu-link-sale" href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                  <a class="main-nav-menu-link" href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      {% comment %} Column 3 {% endcomment %}
      <div class="menu-icons">
        <a href="/search">
          {% render 'search.svg' %}
        </a>
        <a href="/cart">
          {% render 'shoppingbag.svg' %}
        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "Recommended size: 200x200px"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo Width",
      "default": 200,
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px"
    }
  ]
}
{% endschema %}
