<section id="shopify-section-{{ section.id }}" class="shopify-section">
  <div class="image-banner">
    {% if section.settings.image_banner_desktop != blank %}
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="
            {{ section.settings.image_banner_mobile | image_url: width: 300 }} 300w,
            {{ section.settings.image_banner_mobile | image_url: width: 600 }} 600w,
          "
        >
        {{
          section.settings.image_banner_desktop
          | image_url: width: 1500
          | image_tag:
            widths: '300, 600, 900, 1200, 1500',
            sizes: '(min-width: 1000px) 1500px,1200px,298px, 78.75vw',
            style: 'width: 100%'
        }}
      </picture>
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}
    {% endif %}
  </div>
</section>

{% style %}
  #shopify-section-{{ section.id }} .image-banner {
    height: 200px;
  }

  #shopify-section-{{ section.id }} .image-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .placeholder {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 800px) {
      #shopify-section-{{ section.id }} .image-banner {
      height: 300px;
      }
  }
{% endstyle %}

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_banner_desktop",
      "label": "Image desktop"
    },
    {
      "type": "image_picker",
      "id": "image_banner_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alt Text"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ],
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}
