<script src="{{ 'rotating-announcement.js' | asset_url }}" defer></script>
<script src="{{ 'swiper.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'rotating-announcement.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">

<section id="shopify-section-{{ section.id }}" class="shopify-section rotating-announcement">
  <div class="rotating-announcement swiper">
    <div class="announcement-container swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="announcement">
            <p>{{ block.settings.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  #shopify-section-{{ section.id }} .rotating-announcement  {
    background-color: {{ section.settings.announcement_background_color }};
  }

  #shopify-section-{{ section.id }} .rotating-announcement .announcement {
    color: {{ section.settings.announcement_text_color }};
  }
{% endstyle %}

{% javascript %}
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 5000,
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Rotating Announcement",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Announcement"
    },
    {
      "type": "color",
      "id": "announcement_background_color",
      "label": "Background Color",
      "default": "#001a43"
    },
    {
      "type": "color",
      "id": "announcement_text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Announcement"
        }
      ]
    }
  ]
}
{% endschema %}
