<script src="{{ 'rotating-announcement.js' | asset_url }}" defer></script>
<script src="{{ 'swiper.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'rotating-announcement.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">

<div class="rotating-announcement-{{ section.id }} rotating-announcement swiper">
  <div class="announcement-container swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        <div class="announcement">
          <h2>{{ block.settings.title }}</h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% style %}
  .rotating-announcement-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
{% endstyle %}

{% javascript %}
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 5000,
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Rotating Announcement",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Announcement"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#001a43"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Announcement"
        }
      ]
    }
  ]
}
{% endschema %}
